

<table st-safe-src="rowCollection" st-table="displayed" class="table table-hover table-striped">
    <thead>


        <tr>
       
            <td>
                <div class="input-group-sm">

                    <input type="text" class="form-control "
                           st-search="{{namePredicate}}"
                           placeholder="البحث بالأسم">
                </div>

            </td>

            <td>
                <div class="input-group-sm">

                    <input type="text" class="form-control "
                           st-search="{{nationalIdPredicate}}"
                           placeholder="البحث بالرقم القومى">
                </div>
            </td>
            <td>
                <div class="input-group-sm">

                    <input type="text" class="form-control "
                           st-search="{{codePredicate}}"
                           placeholder="البحث بالكود">
                </div>
            </td>
            <td>
                <div class="input-group-sm">

                    <input type="text" class=" form-control input-sm" st-search="{{positionPredicate}}" placeholder="البحث بالمبلغ القومى">

                </div>
            </td>



        </tr>
        <tr>
            <th>
                الأسم
            </th>
            <th>
                الرقم القومى
            </th>
            <th>
                الكود
            </th>
            <th>
                الصافى
            </th>

        </tr>

    </thead>
    <tbody>

        <tr ng-repeat="filedetails in displayed | startFrom  : (currentPage-1) * pageSize | limitTo:pageSize | filter : search.Name" class="animate-repeat">
            <td>{{filedetails.Employee.Name}}</td>
            <td>{{filedetails.Employee.NationalId}}</td>
            <td>{{filedetails.Employee.Code}}</td>
            <td>{{filedetails.Net}}</td>

        </tr>

    </tbody>
    <tfoot>
 
        <tr>

            <td class="text-center" st-pagination="" st-items-by-page="20" st-displayed-pages="20" colspan="9"></
        </tr>
    

    </tfoot>


</table>