@font-face {
    font-family: DroidNaskh Arabic Kufi;
    src: url(../fonts/DroidNaskh-Regular.ttf);
}

@font-face {
    font-family: DroidKufi Arabic Kufi;
    src: url(../fonts/DroidKufi-Regular.ttf);
}

body {
    font-family: DroidKufi Arabic Kufi;
}


.example-animate-container {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.animate-repeat {
    line-height: 30px;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    /*.animate-repeat.ng-move,*/
    .animate-repeat.ng-enter
    /*.animate-repeat.ng-leave*/ {
        /*-webkit-transition:all ease .4s;
    -moz-transition:all ease .4s;
    -ms-transition:all ease .4s;
    -o-transition:all ease .4s;
    transition:all ease .4s;*/
    }

    .animate-repeat.ng-leave {
    
        /*-webkit-animation: slideout .4s ease-out;
        -moz-animation: slideout .4s ease-out;
        -ms-animation: slideout .4s ease-out;
        -o-animation: slideout .4s ease-out;
        animation: slideout .4s ease-out;
        display: block;
        z-index: 20;*/
    }





.help-block {
    color: #dc143c;

}

.help-block ng-hide {
    

}