

<div ng-show="diablebtn">

    انتظر قليلا .......

    <div class="progress progress-striped active">
        <div class="progress-bar" ng-style="{'width': progresswidth +'%'}"></div>
    </div>
</div>
<div class="well bs-component">

  

        <fieldset>
            <legend>
                <i class="fa fa-user-plus"></i>
                رفع بيانات موظفين
            </legend>
            <div class="form-group">

                <div class="col-lg-10">
                    <input type="file" class="form-control" name="uploadEmp" file-model = "myFile" />
                </div>

                <label for="uploadBank" class="col-lg-2 control-label">رفع جميع الموظفين</label>
            </div>
           
         
            <div class="input-group-btn">
                <div class="col-lg-pull-4">
                    <button ng-click = "uploadData();" ng-disabled="diablebtn" class="btn btn-success">
                        <i class="fa fa-upload"></i>
                        رفع الملفات

                    </button>
                <a href="/employee/search" class="btn btn-default">العودة</a>
                </div>

            </div>
        </fieldset>

</div>