
<div class="input-group-btn">
    <a class="btn  btn-success"
       href="/employee/add">
        <i class="fa fa-user-plus"></i>
        أضافة موظف جديد
    </a>
</div>
<table st-safe-src="rowCollection" st-table="displayed" class="table table-striped table-hover">
    <thead>

        <tr>
            <th class="col-sm-2"></th>
            <th class="col-sm-3">
                الأسم
            </th>
            <th class="col-sm-1">القسم</th>
            <th class="col-sm-2">الدرجة</th>
            <th class="col-sm-2">الرقم القومى</th>
            <th class="col-sm-2">الكود</th>


        </tr>
    </thead>
    <tbody class="example-animate-container">

        <tr>
            <td>
                <span class="fa fa-search">
                    أبحث عن

                </span>
            </td>
            <td>
                <div class="input-group-sm">

                    <input type="text" class="form-control "
                           st-search="{{namePredicate}}"
                           placeholder="البحث بالأسم">
                </div>

            </td>

            <td>
                <div class="input-group-sm">

                    <input type="text" class="form-control "
                           st-search="{{departmentPredicate}}"
                           placeholder="البحث بالقسم">
                </div>
            </td>
            <td>
                <div class="input-group-sm">

                    <input type="text" class="form-control "
                           st-search="{{positionPredicate}}"
                           placeholder="البحث بالوظيفة">
                </div>
            </td>
            <td>
                <div class="input-group-sm">

                    <input type="text" class=" form-control input-sm" st-search="{{nationalIdPredicate}}"   placeholder="البحث بالرقم القومى">

                </div>
            </td>
            <td>
                <div class="input-group-sm">

                    <input type="text" class=" form-control input-sm" st-search="{{codePredicate}}"   placeholder="الكود">

                </div>
            </td>

        </tr>


        <tr ng-repeat="row in displayed | filter: {Name:empName}" class="animate-repeat">


            <td class="col-sm-2">

                <div class="input-group-btn">
                    <a href="/employee/edit/{{row.Id}}" class="btn btn-primary btn-xs"
                         
                        >
                        <i class="fa fa-edit"></i>
                        تعديل
                    </a>
                    <a href="/employee/delete/{{row.Id}}" class="btn btn-danger btn-xs">
                        <i class="fa fa-remove"></i>
                        حذف

                    </a>



                </div>
            </td>
            <td class="col-sm-3">{{row.Name}}</td>
            <td class="col-sm-2">{{row.Department.Name}}</td>
            <td class="col-sm-2">{{row.Position.Name}}</td>
            <td class="col-sm-2">{{row.NationalId}}</td>

            <td class="col-sm-2">{{row.Code}}</td>




        </tr>

    </tbody>
    <tfoot>
        <tr>

            <td class="text-center" st-pagination="" st-items-by-page="6" colspan="4"></
        </tr>
    </tfoot>
</table>
