


<button class="btn btn-success" ng-disabled="btnDisable" ng-click="ExportData(dailies)">
    تصدير الملف
    <i class="fa fa-file-excel-o"></i>
</button>
<div ng-show="message"> جارى تجهيز الملف برجاء الأنتظار ......................</div>
<div>{{errorMsg}}</div>
<table st-safe-src="rowCollection" st-table="displayed" class="table table-hover table-striped">
    <thead>
   

        <tr>
            <td class="col-xs-4">
                الأسم
            </td>
            <td class="col-xs-4">
              تفاصيل الصرفية
            </td >
            <td class="col-xs-2">
                الكود
            </td>
            <td class="col-xs-2">
                الصافى
            </td>
      
    </tr>

       
    </thead>
    <tbody>
    <tr>


        <td >
            <div class="input-group-sm">

                <input type="text" class="form-control "
                       st-search="{{namePredicate}}"
                       placeholder="البحث بالأسم">
            </div>

        </td>

        <td class="col-xs2" >
            <!--<div class="input-group-sm">

                <input type="text" class="form-control "
                       st-search="{{descPredicate}}"
                       placeholder="البحث باب المصروفات">
            </div>-->
        </td>
        <td>
            <div class="input-group-sm">

                <input type="text" class="form-control "
                       st-search="{{expensessPredicate}}"
                       placeholder="البحث باب المصروفات">
            </div>
        </td>
        <td>
            <div class="input-group-sm">

                <input type="text" class="form-control "
                       st-search="{{netPredicate}}"
                       placeholder="البحث باب المصروفات">
            </div>
        </td>

    </tr>




    <tr ng-repeat="daily in displayed">


        <td class="col-xs-4">
            {{daily.Name}}
        </td>
        <td class="col-xs-4">
            <div ng-repeat="desc in daily.Description">
                <span>
                    {{$index+1}} - {{desc.Name}}
                    </span>
                <br>
            </div>


        </td>
        <td class="col-xs-2">
            {{daily.Code}}
        </td>
        <td class="col-xs-2">
            {{daily.Net}}
        </td>

    </tr>

    </tbody>
    <tfoot>
        <tr>

            <td class="text-center" st-pagination="" st-items-by-page="15" st-displayed-pages="20" colspan="9"></
        </tr>


    </tfoot>


</table>
